.sample-fragment {
  color: inherit;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
}

.banner{
	text-align: center;
}

.img-banner{
	width: 100%;
}

.links-navegacao-lateral{
	text-decoration: none;
	display: block;
	color: black;
	padding: 10px 0 10px 5px;
	border-bottom: 1px solid #dddd;
	font-size: 14px;
}

.links-navegacao-lateral:first-child{
	border-bottom: none;
}

.links-navegacao-lateral:hover{
	background: #EEEEEE;
	color: black;
	text-decoration: none;
}

.caixa-menu-lateral{
	width: 25%;
	margin-right: 2%;
}

.secao-accordion{
	width: 73%;
}

.lista-navegacao-lateral{
	list-style: none;
	padding: 0;
}

.conteudo{
	display: flex;
	margin-top: 15px;
	margin-bottom: 50px;
}

.separador-laranja{
	border-bottom: 1px solid #E76D0B;
	padding-bottom: 10px;
}

.titulo-secundario{
	font-size: 30px;
}

.titulo-terciario{
	font-size: 16px;
}

.titulo-accordion,
.accordion-button{
	font-weight: bold;
}

.separador{
	border-bottom: 1px solid #dddd;
}

.margin-bottom-padrao{
	margin-bottom: 30px;
}

@media(max-width: 975px){
	.conteudo{
		display: block;
	}

	.caixa-menu-lateral{
		width: 100%;
		margin-right: 0;
	}

	.secao-accordion{
		width: 100%;
	}
}

/*accordion*/
.accordion:focus{
  outline: none;
}

.accordion{
  background-color: #F5F5F7;
  cursor: pointer;
  padding: 8px 15px;
  width: 100%;
  text-align: left;
  border: 1px outset #EBEBEC;
  border-bottom: 1px outset #EBEBEC;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel{
  background-color: white;
  display: none;
  border-left: 1px solid #EBEBEC;
  border-right: 1px solid #EBEBEC;
  padding: 20px 15px;
}

.descricao-accordion{
  font-weight: bold;
}

.select-accordion{
	padding: 8px 0;
	border-radius: 5px;
}

.caixa-accordion{
	margin-bottom: 5px;
}